@font-face {
  font-family: "newFont";
  src: url("kingsman-font/KingsmanDemo-1GVgg.ttf") format("truetype");
}
body {
  font-family: "newFont";
  background-color: #95b2a7;
  color: #183d3d;
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #95b2a7;
  color: #183d3d;
  border: solid;
  border-color: #183d3d;
  height: 90px;
}
.myh1 {
  text-align: center;
}
.input {
  display: flex;
  justify-content: center;
  font-family: "newFont";
  margin-top: 50px;
  font-size: larger;
}
.output {
  display: flex;
  font-size: 30px;
  margin-top: 50px;
  text-align: justify;
  color: #183d3d;
  padding: 3%;
  line-height: 38px;
}

input[type="file"]::-webkit-file-upload-button {
  font-family: "newFont";
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #183d3d;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #183d3d;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #183d3d;
}

input[type="file"]::-webkit-file-upload-button:active {
  transform: scale(0.9);
}

input[type="file"]::-webkit-file-upload-button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #183d3d;
}
.buttoncontainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.button {
  font-family: "newFont";
  padding: 15px 20px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #183d3d;
  border-radius: 10px;
}

.button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
label {
  margin-left: 20px;
  margin-right: 20px;
}
#prompt {
  font-family: "SF Pro";
  max-width: 190px;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #183d3d;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #183d3d;
  outline: none;
  transition: ease 0.25s;
  font-family: "newFont";
  color: #183d3d;
  font-size: larger;
}
#prompt:focus {
  box-shadow: 5.5px 7px 0 #183d3d;
}
