@font-face {
  font-family: "newFont";
  src: url("kingsman-font/KingsmanDemo-1GVgg.ttf") format("truetype");
}
body {
  font-family: "newFont";
  background-color: #0a6847;
  color: #f6e9b2;
  margin: 0;
}
.header {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #0a6847;
  color: #f3ca52;
  border: solid;
  border-color: #0a6847;
  height: 90px;
}
.myh1 {
  text-align: center;
}
.input {
  display: flex;
  justify-content: center;
  font-family: "newFont";
  margin-top: 90px;
  font-size: larger;
}
.output {
  display: flex;
  font-size: 30px;
  margin-top: 50px;
  text-align: justify;
  color: #f3ca52;
  padding: 3%;
  line-height: 38px;
  justify-content: center;
}

input[type="file"]::-webkit-file-upload-button {
  font-family: "newFont";
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #0a6847;
  background: #f3ca52;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #f3ca52;
  border-radius: 0.4rem;

  box-shadow: inset 0 0 0 0 #0a6847;
}

input[type="file"]::-webkit-file-upload-button:active {
  transform: scale(0.9);
}

input[type="file"]::-webkit-file-upload-button:hover {
  color: #f3ca52;
  box-shadow: inset 0 -100px 0 0 #0a6847;
}
.buttoncontainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

label {
  margin-left: 100px;
  margin-right: 20px;
}
#prompt {
  font-family: "SF Pro";
  max-width: 190px;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #f3ca52;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #f3ca52;
  outline: none;
  transition: ease 0.25s;
  font-family: "newFont";
  color: #0a6847;
  font-size: larger;
  background-color: #f6e9b2;
}
#prompt:focus {
  box-shadow: 5.5px 7px 0 #f3ca52;
}
.loader {
  display: none;
  width: 112px;
  height: 112px;
  margin-top: 200px;
}

.box1,
.box2,
.box3 {
  border: 16px solid #f3ca52;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 2s 1ms forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 2s 1ms forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 2s 1ms forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}
.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;

  background-color: #f3ca52;
  color: #0a6847;
  font-weight: 700;
  transition: 0.6s;
  font-family: "newFont";
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: #f3ca52;
  background: linear-gradient(#fae093 30%, #fae093 30%);
  box-shadow: 0px 0px 60px #d4e671;
}
